
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.CRITICAL {
  background-color: #f5cdcd
}

.MAJOR {
  background-color: #ffd7cd
}

.MINOR {
  background-color: #ffebcd
}

.WARNING {
  background-color: #fff5cd
}

.NORMAL {
  background-color: #d7e1cd
}

.CLEARED {
  background-color: #eeeeee
}

.INDETERMINATE {
  background-color: #ebebcd
}
